.navbar{
    width: 100%;
    background: #240063b0;
    border-bottom: 1px solid #2D41E0;
    position: fixed;
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: ease 0.4s;
    height: 80px;
} 

.innerNavbar{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transition: ease-out 0.5s;
    padding: 0px 1.5em;
}

.containerMenu {
    display: flex;
  align-items: center;
}


.containerMenu ul{
 display: flex;
 flex-direction: row;
 margin: 0px;
 height: 100%;
 justify-content: center;
 align-items: center;
}

.containerMenu ul li{
  list-style-type: none;
  margin: 0px 1em;
  height: 80%;
}
.containerMenu ul li:last-child{
   margin-right: 0px;
  }
  .containerMenu ul li:last-child a{
   padding: 0.8em 1.6em;
   border: 1px solid #33E0F8;
   }

.containerMenu ul li a{
   color: white;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1200px) {
    .innerNavbar{
     width: 900px;
    }
   }

   
  @media (max-width: 900px) {
    .innerNavbar{
     width: 767px;
    }
   }

      
  @media (max-width: 767px) {
    .containerMenu{
     display: none;
    }
    .innerNavbar{
    display: flex;
    justify-content: center;
     }
     #logoPrincipal{
       opacity: 1 !important;
       transform: translateX(0px) !important;
     }
   }